* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 20px;
}
ul,
li {
  list-style: none;
}
.wrap {
  /* border style is solid */
  /* bd+tab */
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}
.inputSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.tabs {
  display: flex;
  margin-bottom: 10px;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  background: rgb(231, 131, 131);
  color: black;
}
.tabs li {
  cursor: pointer;
  padding: 10px 20px;
  background: grey;
  color: white;
}

.tabs li.active {
  background: violet;
  color: darkblue;
}

.menu {
  display: flex;
}
.menu li {
  padding: 10px 15px;
  cursor: pointer;
}
.menu li.active {
  background: violet;
}
h1 {
  background: skyblue;
  display: inline-block;
  padding: 0px 34px;
}

.logo {
  width: 200px;
}

.flex {
  display: flex;
}

.btn {
  padding: 10px 20px;
  border: 1px solid grey;
  background-color: skyblue;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.btn.active {
  background-color: violet;
  color: black;
}

.btn:hover {
  background-color: white;
  border: 1px solid white;
  color: violet;
}

.btn.primary {
  background-color: rgb(238, 218, 238);
}

.btn.primary:hover {
  background-color: green;
  color: white;
}

.btn.secondary {
  background-color: rgb(202, 202, 250);
}
