$primary: skyblue;
$secondary: blue;
$light: white;

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

/* reset end */

.wrap {
  border: 1px solid $primary;
  padding: 10px;
  .imgWrap {
    img {
      width: 100%;
    }
  }
}

.pagination {
  ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    li {
      cursor: pointer;
      padding: 5px 10px;
      background-color: $primary;
    }
    li:hover {
      background-color: $secondary;
      color: $light;
    }
  }
}
