$primary: skyblue;
$secondary: blue;
$tertiary: rgb(91, 155, 180);
$light: white;

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

/* reset end */

.wrap {
  border: 1px solid $primary;
  padding: 10px;
  .imgWrap {
    img {
      width: 100%;
    }
  }
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .prev,
  .next {
    cursor: pointer;
  }
  .paginationBullets {
    display: flex;
    flex-direction: row;
    li {
      cursor: pointer;
      padding: 5px 10px;
      background-color: $primary;
    }
    li.active {
      background-color: $tertiary;
    }
    li:hover {
      background-color: $secondary;
      color: $light;
    }
  }
}
